@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
body{
    background-color: rgb(142, 115, 167);
	font-family: 'Architects Daughter';
	margin: 0px;
    padding: 0px;
    color: wheat;
}
